<form name="frm">
	<div class="form-group">
		<label>Ingrese el codigo del curso y precione enter</label>
		<input type="text" name="cod" required ng-model="data.codigo" class="form-control" ng-keyup="buscar($event)"/>
	</div>
	
	<div class="form-group">
		<label>Nombre</label>
		<input type="text" name="nombre" disabled  ng-model="data.nombre" class="form-control"/>
	</div>
	
	<div class="form-group">
		<label>Descripción</label>
		<input type="text" ng-model="data.des" disabled class="form-control"/>
	</div>
	
	<button class="btn btn-danger" ng-disabled="desactivar" ng-click="eliminar()" ng-disabled="frm.$invalid">Eliminar</button>
</form>